{% extends 'layout.twig' %}

{% block body %}
<div class="jumbotron">
  <h1>{{project.dataValues.title}}</h1>
  <p>{{project.dataValues.description}}</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  
</div>
{% endblock %}